{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container mt-5" style="height: 80vh;">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center">Modifier son profil</h1>
    {{ include('account/_form.html.twig') }} 
</div>
{% endblock %}
