<div class="container my-5 py-5 text-dark">
  <div class="row d-flex justify-content-center">
    <div id="comment-list" class="col-md-11 col-lg-9 col-xl-7">
      {% for comment in trick.comments %}
        <div class="d-flex flex-start mb-4">
          <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65" height="65" />
          <div class="w-100">
            <div class="card-body p-4">
              <div class="">
                <h5>{{ comment.author }}</h5>
                <p class="small">{{ comment.createdAt|date("d/m/Y H:i:s") }}</p>
                <p>
                  {{ comment.content }}
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <button id="load-more-btn" class="btn-primary">Voir plus de commentaires</button>
  </div>
</div>

{% block js_body %}
  <script>
    // JavaScript code
    document.addEventListener("DOMContentLoaded", function () {
      const itemList = document.getElementById("comment-list");
      const loadMoreBtn = document.getElementById("load-more-btn");
      const itemsPerPage = 5;
      let visibleItems = itemsPerPage;

      // Function to show the next batch of items
      function loadMoreItems() {
        for (let i = visibleItems; i < visibleItems + itemsPerPage; i++) {
          const item = itemList.querySelector(`div:nth-child(${i + 1})`);
          if (item) {
            item.classList.remove('d-none');
          }
        }

        visibleItems += itemsPerPage;

        // Hide the "Load More" button if there are no more items to load
        if (visibleItems >= itemList.children.length) {
          loadMoreBtn.style.display = "none";
        }
      }

      // Initially hide all items except the first batch
      for (let i = itemsPerPage; i < itemList.children.length; i++) {
        const item = itemList.querySelector(`div:nth-child(${i + 1})`);
        if (item) {
          item.classList.add('d-none')
        }
      }

      // Attach the loadMoreItems function to the button click event
      loadMoreBtn.addEventListener("click", loadMoreItems);
    });
  </script>
{% endblock %}