.bg-hoverboard {
    min-width: 100vw !important;
    min-height: 93vh !important;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/bg.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-position: left top, left top, left top;
}
